.App {
  max-width: 600px;
  margin: 30px auto;
}
.App footer {
  font-size: 12px;
  margin: 10px;
  text-align: center;
}
.App a {
  text-decoration: none;
  color: #4976ac;
  font-weight: 700;
}
.App a:hover {
  text-decoration: underline;
}
